{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
  
  <main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 m-auto">
            <div class="page-title-content text-center">
              <h2 class="title">Cart</h2>
              <div class="bread-crumbs"><a href="index.html"> Home </a><span class="breadcrumb-sep"> // </span><span class="active"> Cart</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Cart Area Wrapper ==-->
    <section class="product-area cart-page-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 m-auto">
            <div class="section-title text-center">
              <h2 class="title">Cart</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="cart-table-wrap">
              <div class="cart-table table-responsive">
                <table>
                  <thead>
                    <tr>
                      <th class="width-thumbnail"></th>
                      <th class="width-name">Product</th>
                      <th class="width-price"> Price</th>
                      <th class="width-quantity">Quantity</th>
                      <th class="width-subtotal">Subtotal</th>
                      <th class="width-remove"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for cart in cart.products.all %}
                    {% with cart as item %}
                    <tr>
                      <td class="product-thumbnail">
                        <a href="{% url 'shop:product_detail' item.product.id %}"><img src="{{item.product.image.url}}" alt="Image"></a>
                      </td>
                      <td class="product-name">
                        <h5><a href="shop-single-product.html">{{item.product.name}}</a></h5>
                      </td>
                      <td class="product-price"><span class="amount">${{item.product.price}}</span></td>
                      <td class="cart-quality">
                        <div class="product-details-quality">
                          <input type="number" class="input-text qty text" step="1" min="1" max="100" name="quantity" value="{{item.quantity}}" title="Qty" placeholder="">
                        </div>
                      </td>
                      <td class="product-total"><span>${{item.get_total_price}}</span></td>
                      <td class="product-remove"><a href="{% url 'cart:delete' item.product.id item.quantity  %}"><i class="ion-ios-trash-outline"></i></a></td>
                    </tr>
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
            <div class="cart-shiping-update-wrapper">
              <div class="cart-shiping-btn continure-btn">
                <a class="btn btn-link" href="{% url 'shop:home' %}"><i class="ion-ios-arrow-left"></i> Back To Shop</a>
              </div>
              <div class="cart-shiping-btn update-btn">
                <a class="btn btn-link" href="{% url 'cart:order_add' cart.id %}"><i class="ion-ios-reload"></i> Go To Order</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>
    </section>
    <!--== End Cart Area Wrapper ==-->
  </main>

{% endblock %}